* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    animation: fadeInBackground 2s ease-in-out;
}

.menu-bar {
    background: rgba(0, 100, 0);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
    transition: background 0.3s;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: color 0.3s;
}

.active, .menu-bar ul li:hover {
    background: #2bab0d;
    border-radius: 3px;
}

.menu-bar .fa {
    margin-right: 8px;
    transition: transform 0.3s;
}

.menu-bar ul li:hover .fa {
    transform: rotate(360deg);
}

.sub-menu-1 {
    display: none;
    opacity: 0;
    animation: fadeInSubMenu 0.5s forwards;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgba(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
    animation: fadeInSubMenu 0.5s forwards;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    opacity: 0;
    animation: fadeInSubMenuItem 0.5s forwards;
    animation-delay: 0.2s;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #b2ff00;
    text-shadow: 0px 0px 10px #b2ff00;
}

.fa-angle-right {
    float: right;
    transition: transform 0.3s;
}

.sub-menu-2 {
    display: none;
    opacity: 0;
    animation: fadeInSubMenu 0.5s forwards;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0, 100, 0);
    animation: fadeInSubMenu 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInSubMenu {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSubMenuItem {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
